<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>Home</title>
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
  <script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"
          integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <script th:src="@{/scripts/script.js}"></script>
</head>
<body class="inner-page">
  <div class="top-inner-page">
   <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="pull-left">
          <h1><a th:href="@{/home/all_beers}" style="color: inherit; text-decoration: none">BeerTag</a></h1>
        </div>
        <div style="padding-top: 20px" class="pull-right">
          <a th:href="@{/logout}" class="btn btn-warning" id="btnSignIn">LogOut</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- NAV -->
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/home/all_beers}" th:method="GET">Home</a></li>
        <li><a th:href="@{/home/newBeer}" th:method="GET">New Beer</a></li>
        <li class="active"><a th:href="@{/home/all_users}" th:method="GET">Users<span
                class="sr-only">(current)</span></a></li>
        <li><a th:href="@{/home/my_account}" th:method="GET">My Account</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- NAV END -->
<div class="container">
  <div class="row">
    <div class="pull-left">
      <h2>All Users</h2>
    </div>
  </div>
  <!-- USERS   -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center img">User Photo</th>
        <th class="text-center">User Name</th>
        <th class="text-center">***</th>
        <th class="text-center">***</th>
      </tr>
    </thead>
    <tbody>
      <tr class="user-row" th:each="user : ${users}">
        <td><span class="users-counter"></span></td>
        <td><img style="width: 60px;height: 60px" name="picture" th:src="@{'data:image/png;base64,'+${user.picture}}" class="img-responsive"/></td>
        <td><span> <a th:href="@{/home/user_acount(id=${user.id})}"  th:text="|${user.name}|">User One</a></span></td>
        <td>
          <a th:href="@{/home/edit(id=${user.id})}"  class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Edit User"><i class="fas fa-edit"></i></a>
        </td>
        <td>
          <a href="" id="delete-user" th:data-user-id="${user.id}" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete User"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>

    </tbody>
  </table>
  <!-- USERS END -->
</div>
<div class="footer">
  <div class="text-center">
    &copy NTomov&amp;EArmenov
  </div>
</div>
</body>
</html>