<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    <script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/scripts/script.js}"></script>
</head>
<body class="inner-page">
<div class="top-inner-page">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="pull-left">
                    <h1><a th:href="@{/home/all_beers}" style="color: inherit; text-decoration: none">BeerTag</a></h1>
                </div>
                <div style="padding-top: 20px" class="pull-right">
                    <a th:href="@{/logout}" class="btn btn-warning" id="btnSignIn">LogOut</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NAV -->
<nav class="navbar navbar-default">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="all_beers.html">Home <span class="sr-only">(current)</span></a></li>-->
                <li class="active"><a th:href="@{/home/all_beers}" th:method="GET">Home<span
                        class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/home/newBeer}" th:method="GET">New Beer</a></li>
                <li><a th:href="@{/home/all_users}" th:method="GET">Users</a></li>
                <li><a th:href="@{/home/my_account}" th:method="GET">My Account</a></li>
                <!--<li><a href="all_users_adminPage.html">Users</a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- NAV END -->
<div class="container">
    <!-- SORTING AND FILTERING BEERS -->
    <div class="row">
        <div class="pull-left">
            <h2>All Beers</h2>
        </div>
        <div class="pull-right">
            <form th:method="POST" th:action="@{/home/show-options}" class="navbar-form navbar-left">
                Sort By
                <select th:field="*{showManager.orderBy}" class="form-control">
                    <option th:value="${'all'}">---</option>
                    <option th:value="${'rating'}">Rating</option>
                    <option th:value="${'abv'}">AlcoholVolume</option>
                    <option th:value="${'name'}">Name</option>
                </select>
                Filter By
                <select th:field="*{showManager.filterBy}" class="form-control">
                    <option th:value="${'all'}" th:field="*{showManager.filterBy}">---</option>
                    <option th:value="${'tag'}" th:field="*{showManager.filterBy}">Tag</option>
                    <option th:value="${'style'}" th:field="*{showManager.filterBy}">Style</option>
                    <option th:value="${'country'}" th:field="*{showManager.filterBy}">Origin</option>
                </select>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="enter value ..."
                            th:field="*{showManager.filterValue}">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
    <!-- SORTING AND FILTERING BEERS END -->
    <!-- BEER LIST -->
    <div class="row">
        <div th:each="beer : ${beerPage}" class="col-md-4 beers-list">
            <a th:href="@{/beer/of-user-info(id=${beer.id})}"><img name="picture"
                                                                   th:src="@{'data:image/png;base64,'+${beer.picture}}"
                                                                   class="img-responsive"/></a>
        </div>
    </div>
    <nav style="text-align: center" aria-label="Page navigation example">
        <div style="margin:0 auto">
            <ul th:if="${beerPage.totalPages > 0}"
                th:each="pageNumber : ${pageNumbers}" class="pagination">
                <!--<li class="page-item"><a th:href="@{/home/all_beers(page=${pageNumber - 1})}"-->
                <!--th:class="${pageNumber==beerPage.number + 1} ? active">Previous</a>-->
                <!--</li>-->
                <li class="page-item"><a th:href="@{/home/all_beers(page=${pageNumber})}"
                                         th:text="${pageNumber}"
                                         th:class="${pageNumber==beerPage.number + 1} ? active"></a>
                </li>
                <!--<li class="page-item"><a th:href="@{/home/all_beers(page=${pageNumber + 1})}"-->
                <!--th:class="${pageNumber==beerPage.number + 1} ? active">Next</a>-->
                <!--</li>        -->
            </ul>
        </div>
    </nav>
    <!-- BEER LIST END -->
</div>
<div class="footer">
    <div class="text-center">
        &copy NTomov&amp;EArmenov
    </div>
</div>
</body>
</html>