<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    <script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Compiled and minified JavaScript -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/scripts/script.js}"></script>
</head>
<body class="inner-page">
<div class="top-inner-page">
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="pull-left">
                    <h1><a th:href="@{/home/all_beers}" style="color: inherit; text-decoration: none">BeerTag</a></h1>
                </div>
                <div style="padding-top: 20px" class="pull-right">
                    <a th:href="@{/logout}" class="btn btn-warning" id="btnSignIn">LogOut</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NAV -->
<nav class="navbar navbar-default">
    <div class="container-fluid container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home/all_beers}" th:method="GET">Home</a></li>
                <li><a th:href="@{/home/newBeer}" th:method="GET">New Beer</a></li>
                <li><a th:href="@{/home/all_users}" th:method="GET">Users</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- NAV END -->
<div class="container">
    <h3 class="text-center">Edit User</h3>
    <div class="add-edit">
        <div class="col-xs-6 col-xs-offset-3">
            <form th:method="PUT" th:object="${user}" th:action="@{/home/edit(id=${id})}" enctype="multipart/form-data">
                <div class="panel-body">
                    <div class="radio-button" style="margin-left: 223px">
                        <div>
                            <label>
                                <input class="with-gap" name="group3" type="radio" th:value="${'USER'}" th:checked
                                       th:field="*{authority}"/>
                                <span>User</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input class="with-gap" name="group3" type="radio" th:value="${'ADMIN'}"
                                       th:field="*{authority}"/>
                                <span>Admin</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname">Nickname</label>
                        <input type="text" class="form-control" id="nickname" placeholder="nickname"
                               th:field="*{username}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="password"
                               th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label for="beer-pic">User Photo</label>
                        <input type="file" id="beer-pic" th:field="*{avatar}">
                    </div>
                    <input type="submit" class="btn btn-default" name="submit" value="Edit User">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="text-center">
        &copy NTomov&amp;EArmenov
    </div>
</div>
</body>
</html>